@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-accent: #e8ff47;
  --color-surface: #141414;
  --color-border: #2a2a2a;
  --color-muted: #666;

  --font-mono: 'DM Mono', monospace;
  --font-sans: 'Inter', sans-serif;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 3px;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
